# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-doc-statement-data:
    build:
      target: development
    image: ffc-doc-statement-data-development
    container_name: ffc-doc-statement-data-test
    command: npm run test
    volumes:
      - ./app:/home/node/app
      - ./test:/home/node/test
      - ./test-output:/home/node/test-output
      - ./jest.config.js:/home/node/jest.config.js
      - ./package.json:/home/node/package.json
    environment:
      AZURE_STORAGE_CONNECTION_STRING: DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://ffc-doc-statement-data-azurite:10000/devstoreaccount1;
      POLL_WINDOW_START: "08:00"
      POLL_WINDOW_END: "18:00"
      POLL_WINDOW_DAYS: "Mon,Tue,Wed,Thu,Fri"

    labels:
      com.docker.compose.pay.role: test

  ffc-doc-statement-data-postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ffc-doc-statement-data-azurite:
    labels:
      com.docker.compose.pay.role: test    

volumes:
  postgres_data:
